<footer class="bg-primary mt-5">
  <div class="d-flex flex-column flex-md-row">
    <div
      class="d-flex text-white pt-2 pb-2 mr-md-auto ml-md-3 justify-content-center"
    >
      ©2021 Copyright&nbsp;:
      <a class="text-secondary ml-1" href="http://localhost:4200/">
        tonystark.com</a
      >
    </div>
    <div class="d-flex justify-content-center pt-2 pb-2">
      <a class="mr-4" href="http://localhost:4200/">
        <fa-icon [icon]="faFacebook" class="text-white" size="lg"></fa-icon>
      </a>
      <a class="mr-4" href="http://localhost:4200/">
        <fa-icon [icon]="faLinkedin" class="text-white" size="lg"></fa-icon>
      </a>
      <a class="mr-4" href="http://localhost:4200/">
        <fa-icon [icon]="faGithub" class="text-white" size="lg"></fa-icon>
      </a>
      <a class="mr-4" href="http://localhost:4200/">
        <fa-icon [icon]="faGooglePlus" class="text-white" size="lg"></fa-icon>
      </a>
      <a class="mr-4" href="http://localhost:4200/">
        <fa-icon [icon]="faInstagram" class="text-white" size="lg"></fa-icon>
      </a>
      <a class="mr-md-4" href="http://localhost:4200/">
        <fa-icon [icon]="faTwitter" class="text-white" size="lg"></fa-icon>
      </a>
    </div>
  </div>
</footer>
