<div
  class="d-flex flex-lg-row flex-column justify-content-center align-items-lg-stretch align-items-center"
>
  <div class="d-flex flex-column bg-secondary shadow mr-lg-auto sub-card-width">
    <div class="d-flex">
      <div class="d-flex mr-auto ml-2">
        <span class="sub-card-header-text text-white font-weight-bold"
          >FRONT-END ENGINEERING</span
        >
      </div>
      <div class="d-flex align-items-center mr-2">
        <span class="dot ml-1 bg-primary-light"></span>
      </div>
    </div>

    <div class="d-flex card m-2 h-100">
      <div class="card-body">
        <div class="card-text card-body-text text-monospace">
          <span
            >I have worked in applications written in both <b>AngularJS</b> &
            <b>Angular 2+</b>. I have worked on both <b>Angular Material</b> &
            <b>Bootstrap</b> along with <b>CSS & SCSS</b>.
          </span>

          <br /><br />
          My current experience and skills in front-end includes:

          <ul class="bg-secondary-light pt-2 pb-2">
            <li class="mt-3">
              <b>TypeScript/JavaScript</b> development: refactoring, improving
              the structure, reliability, build setup.
            </li>
            <li class="mt-3">
              Building responsive websites using
              <b>Material flexbox</b> and <b>Bootstrap flex containers</b>.
            </li>
            <li class="mt-3">
              Using and configuring front-end development tools like
              <b>Webpack</b>. Running app on multiple environments and also
              <b>Gitlab CI/CD</b>.
            </li>
            <li class="mt-3">
              <b>Unit testing</b> using jest, also testing HTML templates using
              <b>Snapshots</b>.
            </li>
            <li class="mt-3">
              Understanding of <b>UI/UX</b>. Experience in multiple JS libraries
              and frameworks like
              <b>Ionic Framework, Apollo Graphql, Lodash/Underscore</b>.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div
    class="d-flex flex-column bg-primary-light shadow ml-lg-5 mt-4 mt-lg-0 sub-card-width"
  >
    <div class="d-flex">
      <div class="d-flex mr-auto ml-2">
        <span class="sub-card-header-text text-white font-weight-bold"
          >BACK-END ENGINEERING</span
        >
      </div>
      <div class="d-flex align-items-center mr-2">
        <span class="dot ml-1 bg-secondary"></span>
      </div>
    </div>
    <div class="card m-2 h-100">
      <div class="card-body">
        <div class="card-text card-body-text text-monospace">
          <span>
            My current stack in the backend involves <b>NodeJS</b> in creating
            both <b>REST & Graphql APIS.</b> For every front-end project I have
            done, I was also involved at the back-end side.
          </span>

          <br /><br />
          What I bring to the table on this side is:

          <ul class="bg-secondary-light pt-2 pb-2">
            <li class="mt-3">
              Building <b>Readable & Efficient </b> APIs. Also building setup,
              refactoring them.
            </li>
            <li class="mt-3">
              Splitting the back-end into separate domains and
              <b>microservices</b>.
            </li>
            <li class="mt-3">
              Working with third party libraries like
              <b>webpack, pdfjs, mssql, samlify</b>. I have also worked on
              <b>SSO(single sign on) & JWT authentication</b>.
            </li>
            <li class="mt-3">
              I have experience in working SQL database. Writing Stored
              Procedures, functions in SSMS. I can create
              <b>custom middleware</b> for APIs.
            </li>
            <li class="mt-3">
              <b>Deploying & CI/CD.</b> Running on multiple environments.
            </li>
            <li class="mt-3">
              <b>Error handling</b> and writing unit & e2e tests.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
