<div class="d-flex justify-content-center">
  <div class="d-flex flex-column w-100 shadow bg-primary pb-5">
    <div class="d-flex">
      <div class="d-flex mr-auto ml-2">
        <span class="card-header-text text-white font-weight-bold">WORK TIMELINE</span>
      </div>
    </div>

    <div class="container py-2 text-primary" *ngIf="!userData.isFresher">


      <ng-container
        *ngFor="let eduData of userData.experienceBlocks | orderBy: 'endDate' : true : false ; let i = index; let first = first ;let last = last;">

        <div class="row no-gutters">

          <div class="col-md" *ngIf="((i%2)==0)"></div>

          <div class="col-md py-2" *ngIf="((i%2)!=0)">
            <div class="card shadow">
              <div class="card-body">
                <h4 class="card-title">{{eduData.startDate | date}} - {{eduData.endDate | date}}</h4>
                <p class="card-text card-body-text">
                  <span class="text-success">{{eduData.title}}</span><br />
                  <small>{{eduData.company}}, {{eduData.location}}</small><br />
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-1 text-center flex-column d-none d-md-flex">
            <div class="row h-50" *ngIf="!first">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2" [ngClass]="first ? 'pt-5' : '' ">

              <span class="badge badge-pill bg-light">&nbsp;</span>
            </h5>
            <div class="row h-50" *ngIf="!last">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>

          <div class="col-md" *ngIf="((i%2)!=0)"></div>

          <div class="col-md py-2" *ngIf="((i%2)==0)">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{eduData.startDate | date}} - {{eduData.endDate | date}}</h4>
                <p class="card-text card-body-text">
                  <span class="text-success">{{eduData.title}}</span><br />
                  <small>{{eduData.company}}, {{eduData.location}}</small><br />
                </p>
              </div>
            </div>
          </div>
        </div>


      </ng-container>


      <!--ng-container
        *ngFor="let workData of userData.experienceBlocks | orderBy: 'endDate' : true : false ; let i = index; let first = first ;let last = last;">

        <div class="row no-gutters" *ngIf="first">

          <div class="col-md"></div>

          <div class="col-md-1 text-center flex-column d-none d-md-flex">
            <div class="row h-50">
              <div class="col">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>

          <div class="col-md py-2">
            <div class="card">
              <div class="card-body">
                <div class="card-title timeline-card-title-text font-weight-bold mb-0">
                  {{workData.startDate | date }} 
                </div>
                <div class="text-success timeline-card-title-text">
                  {{workData.title}}
                </div>
                <div class="text-primary-light">
                  {{workData.company}}, {{workData.location}}
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row no-gutters" *ngIf="last">
          <div class="col-md py-2">
            <div class="card shadow">
              <div class="card-body">
                <div class="card-title timeline-card-title-text font-weight-bold mb-0">
                  {{workData.startDate | date }} - {{workData.endDate | date}}
                </div>
                <div class="text-success timeline-card-title-text">
                  {{workData.title}}
                </div>
                <div class="text-primary-light">
                  {{workData.company}}, {{workData.location}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1 text-center flex-column d-none d-md-flex">
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span class="badge badge-pill bg-light">&nbsp;</span>
            </h5>
            <div class="row h-50">
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <div class="col-md"></div>
        </div>


      </ng-container-->

    </div>
  </div>
</div>