@media (min-width: 0px) {
  .timeline-card-title-text {
    font-size: 1em;
  }
}

@media (min-width: 500px) {
  .timeline-card-title-text {
    font-size: 1.2em;
  }
}

@media (min-width: 1000px) {
  .timeline-card-title-text {
    font-size: 1.4em;
  }
}

@media (min-width: 0px) {
  .timeline-body-text {
    font-size: 0.9em;
  }
}

@media (min-width: 500px) {
  .timeline-body-text {
    font-size: 1em;
  }
}

@media (min-width: 1000px) {
  .timeline-body-text {
    font-size: 1.2em;
  }
}
