<div class="d-flex mt-5 justify-content-center">
  <div class="d-flex flex-column card-width shadow bg-primary-light">
    <div class="d-flex">
      <div class="d-flex mr-auto ml-2">
        <span class="card-header-text text-white font-weight-bold">EDUCATION</span>
      </div>
    </div>


    <div class="container py-2 text-primary">



      <ng-container
        *ngFor="let eduData of userData.educationBlocks | orderBy: 'passingYear' : true : false ; let i = index; let first = first ;let last = last;">

        <div class="row no-gutters">


          <div class="col-md" *ngIf="((i%2)==0)"></div>

          <div class="col-md py-2" *ngIf="((i%2)!=0)">
            <div class="card shadow">
              <div class="card-body">
                <h4 class="card-title">{{eduData.passingYear}}</h4>
                <p class="card-text card-body-text">
                  {{eduData.degree}}<br />
                  <small>{{eduData.institutionName}}</small><br />
                  <small><b>Grade: {{eduData.percentage}}%</b></small>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-1 text-center flex-column d-none d-md-flex">
            <div class="row h-50" *ngIf="!first">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2" [ngClass]="first ? 'pt-5' : '' ">
              <span class="badge badge-pill bg-light">&nbsp;</span>
            </h5>
            <div class="row h-50" *ngIf="!last">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>

          <div class="col-md" *ngIf="((i%2)!=0)"></div>

          <div class="col-md py-2" *ngIf="((i%2)==0)">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{eduData.passingYear}} Down</h4>
                <p class="card-text card-body-text">
                  {{eduData.degree}}<br />
                  <small>{{eduData.institutionName}}</small><br />
                  <small><b>Grade: {{eduData.percentage}}%</b></small>
                </p>
              </div>
            </div>
          </div>
        </div>


      </ng-container>




    </div>
  </div>