<div class="d-flex justify-content-center mt-5">
  <div class="d-flex flex-column card-width shadow bg-secondary-light">
    <div class="d-flex">
      <div class="d-flex mr-auto ml-2">
        <span class="card-header-text text-primary font-weight-bold"
          >MY OFFER</span
        >
      </div>
      <div class="d-flex align-items-center mr-2">
        <span class="dot bg-secondary"></span>
        <span class="dot ml-1 bg-primary-light"></span>
        <span class="dot ml-1 bg-primary"></span>
      </div>
    </div>

    <div
      class="d-flex flex-column text-primary bg-white text-monospace card-body-text"
    >
      <span class="mt-2 ml-2 mr-2">
        I have been developing high quality web applications since
        <b>X+ years</b>. I specialize in various Frontend technologies.
      </span>
      <span class="mt-4 ml-2 mr-2">
        My Current technology stack includes
        <b>Javascript, Typescript, Angular, NodeJS</b> and various other
        frameworks and libraries related to them.
      </span>

      <span class="mt-4 ml-2 mr-2">
        I can help you with multiple areas of projects:
      </span>

      <div
        class="d-flex mt-2 ml-2 mr-2 p-4 mb-2 bg-primary-light border-secondary"
      >
        <div class="flex-column font-weight-bold text-white">
          <div class="d-flex align-items-center">
            <span>{{ "{}" }}</span>
            <span class="ml-3"
              >Developing/Co-developing frontend </span
            >
          </div>
          <div class="d-flex mt-3 align-items-center">
            <span>{{ "{}" }}</span>
            <span class="ml-3">Efficient and readable code implementation</span>
          </div>
          <div class="d-flex mt-3 align-items-center">
            <span>{{ "{}" }}</span>
            <span class="ml-3">Good UI/UX design</span>
          </div>
          <div class="d-flex mt-3 align-items-center">
            <span>{{ "{}" }}</span>
            <span class="ml-3">Researching new techs and frameworks</span>
          </div>
          <div class="d-flex mt-3 align-items-center">
            <span>{{ "{}" }}</span>
            <span class="ml-3">Launching and maintaining project</span>
          </div>
          <div class="d-flex mt-3 align-items-center">
            <span>{{ "{}" }}</span>
            <span class="ml-3">Estimating tasks and helping with CI/CD</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
